<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />
    <meta
      name="description"
      content="Chat with BitterBetty, our AI chatbot, and enjoy engaging and sarcastic dialogue."
    />
    <meta property="og:title" content="BitterBetty | AI ChatBot" />
    <meta
      property="og:description"
      content="Chat with BitterBetty, our AI chatbot, and enjoy engaging and sarcastic dialogue."
    />
    <meta name="author" content="Andrew Butler" />

    <title>BitterBetty | AI ChatBot</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      rel="preload"
      as="font"
      href="https://fonts.gstatic.com"
      crossorigin
    />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body class="d-flex flex-column vh-100">
    <main
      class="container flex-grow-1 d-flex flex-column justify-content-between"
    >
      <div class="row">
        <div class="col-12">
          <h1 class="title">Conversations with BitterBetty</h1>
          <hr />
          <p class="description">
            "BitterBetty is your personal chatbot with an unconventional twist.
            Today, she's loaded with an extra dose of cheekiness, prepared to
            dish out bold, biting, and lively conversation. Be prepared for her
            edgy and sarcastic humor! You can interact with her as you wish,
            posing any question or topic of your choice. But remember,
            BitterBetty is not your typical polite assistant, she has a
            distinct, dare we say 'bitter', personality. Proceed with a sense of
            humor and enjoy her unique brand of assistance!"
          </p>
          <hr />

          <div
            id="chatHistory"
            class="mb-3"
            role="log"
            aria-live="polite"
          ></div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <form
            id="message-form"
            action="/"
            method="POST"
            class="mb-3"
            autocomplete="off"
            aria-label="Chat form"
          >
            <input
              id="userInput"
              type="text"
              name="userInput"
              required
              class="form-control"
              placeholder="Send BitterBetty a message..."
            />
            <button type="submit" class="btn mt-2">Chat!</button>
          </form>
        </div>
      </div>
    </main>
    <footer>
      <script type="module" src="/main.js"></script>
      <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"
      ></script>
    </footer>
  </body>
</html>
